<!-- Course List -->
<!-- <section class="clearfix thingsArea">
    <div class="container">
      <div class="page-header text-center">
        <h2>Les cours les plus populaires</h2>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div id="thubmnailSlider" class="carousel slide thumbnailCarousel">

            <ol class="carousel-indicators">
              <li data-target="#thubmnailSlider" data-slide-to="0" class="active"></li>
              <li data-target="#thubmnailSlider" data-slide-to="1"></li>
              <li data-target="#thubmnailSlider" data-slide-to="2"></li>
              <li data-target="#thubmnailSlider" data-slide-to="3"></li>
              <li data-target="#thubmnailSlider" data-slide-to="4"></li>
              <li data-target="#thubmnailSlider" data-slide-to="5"></li>
              <li data-target="#thubmnailSlider" data-slide-to="6"></li>
              <li data-target="#thubmnailSlider" data-slide-to="7"></li>
            </ol> -->

            <!-- Carousel items -->
            <!-- <div class="carousel-inner">
              <div class="item row active">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="thingsBox">
                    <div class="thingsImage">
                      <img src="/assets/images/things/things-4.jpg" alt="Image things">
                      <div class="thingsMask">
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <a href="listing-details-left.html"><h2>Cours Thermodynamique <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
                      </div>
                    </div>
                    <div class="thingsCaption ">
                      <ul class="list-inline captionItem">
                        <li><i class="fa fa-heart-o" aria-hidden="true"></i> 812</li>
                        <li><a href="category-list-full.html">23 ventes</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="thingsBox">
                    <div class="thingsImage">
                      <img src="/assets/images/things/things-5.jpg" alt="Image things">
                      <div class="thingsMask">
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        </ul>
                        <a href="listing-details-left.html"><h2>Burger House</h2></a>
                        <p>2726 Shinn Street, New York</p>
                      </div>
                    </div>
                    <div class="thingsCaption ">
                      <ul class="list-inline captionItem">
                        <li><i class="fa fa-heart-o" aria-hidden="true"></i> 9.2 k</li>
                        <li><a href="category-grid-full.html">Eat & Drink</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="thingsBox">
                    <div class="thingsImage">
                      <img src="/assets/images/things/things-8.jpg" alt="Image things">
                      <div class="thingsMask">
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <a href="listing-details-left.html"><h2>Hotel Govendor <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
                        <p>778 Country Street, New York</p>
                      </div>
                    </div>
                    <div class="thingsCaption ">
                      <ul class="list-inline captionItem">
                        <li><i class="fa fa-heart-o" aria-hidden="true"></i> 5k</li>
                        <li><a href="category-grid-full.html">Hotels</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="item row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="thingsBox">
                    <div class="thingsImage">
                      <img src="/assets/images/things/things-10.jpg" alt="Image things">
                      <div class="thingsMask">
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <a href="listing-details-left.html"><h2>Water Grill</h2></a>
                        <p>31 Union Square, New York</p>
                      </div>
                    </div>
                    <div class="thingsCaption ">
                      <ul class="list-inline captionItem">
                        <li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
                        <li><a href="category-grid.html"> Eat & Drink</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="thingsBox ">
                    <div class="thingsImage">
                      <img src="/assets/images/things/things-11.jpg" alt="Image things">
                      <div class="thingsMask">
                        <ul class="list-inline rating">
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        </ul>
                        <a href="listing-details-left.html"><h2>John F. Kennedy Airport <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
                        <p>Queens, NY 11430, new York</p>
                      </div>
                    </div>
                    <div class="thingsCaption ">
                      <ul class="list-inline captionItem">
                        <li><i class="fa fa-heart-o" aria-hidden="true"></i> 15 k</li>
                        <li><a href="category-list-full.html">Others</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#thubmnailSlider" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a class="right carousel-control" href="#thubmnailSlider" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="clearfix bg-dark dashboardOrders">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <div class="btn-area mt30">
                <button class="btn btn-primary" type="button" (click)='goAdd()' > Ajouter un cours </button>
            </div>
            <div class="table-responsive bgAdd"  data-pattern="priority-columns">
              <table id="ordersTable" class="table table-small-font table-bordered table-striped" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th data-priority="">Nom du cours</th>
                    <th data-priority="6">Date de création</th>
                    <th data-priority="6">Date de modification</th>
                    <th data-priority="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let course of pagedItems">
                    <td>{{course.id}}</td>
                    <td>{{course.courseName}}</td>
                    <td>{{course.createdAt | date: "yyyy/MM/dd hh:mm"}}</td>
                    <td>{{course.updatedAt | date: "yyyy/MM/dd hh:mm"}}</td>
                    <td>
                      <div>
                        <button (click)="goDisplay(course)" style="padding-left: 5px; padding-right: 5px; margin-right: 5px;"  class="btn btn-primary" >Afficher</button>
                        <button (click)="goEdit(course)" style="padding-left: 5px; padding-right: 5px; background-color: seagreen; margin-right: 5px;"  class="btn">Modifier</button>
                        <button (click)="delete(course)" style="padding-left: 5px; padding-right: 5px;  background-color: red;"  class="btn">Supprimer</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>
<!-- Modal -->
<div class="modal fade" #modal id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="!submitted">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EducShare</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Votre cours a été ajouté avec succès.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" style="padding-left: 5px; padding-right: 5px;" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
