<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url(/assets/images/banner/banner1.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="banerInfo">
					<h2 style="color: aliceblue;">Rechercher , Explorer et Réviser</h2>
					<form class="form-inline" action="listing-sidebar-map-left.html" method="">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">Cours</div>
								<input type="text" class="form-control" id="findItem" placeholder="Chercher votre cours">
								<div class="input-group-addon addon-right"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">Matière</div>
								<input type="text" class="form-control" id="nearLocation" placeholder="Chercher votre matière">
								<div class="input-group-addon addon-right"></div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Rechercher <i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>